<div class="container">
  <div class="card-front">
    <img
      class="card-logo"
      src="../../../assets/card-logo.svg"
      alt="Card Logo"
    />
    <div class="info-container">
      <div class="card-number">
        {{ cardInfo.cardNumber || defaultCardInfo.cardNumber }}
      </div>
      <div class="name-date">
        <div class="name">
          {{ cardInfo.cardName || defaultCardInfo.cardName }}
        </div>
        <div class="date">
          {{
            cardInfo.expirationDate.month ||
              defaultCardInfo.expirationDate.month
          }}
          /
          {{
            cardInfo.expirationDate.year || defaultCardInfo.expirationDate.year
          }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-back">
    <div class="cvc">{{ cardInfo.cvc || defaultCardInfo.cvc }}</div>
  </div>
</div>
